.container {
    display: block;
    height: 100%;
    width: auto;
  }
  .block {
    display: block;
  }
.navigation {
    @extend .f3;
    list-style-type: none;
}
.current {
    border-bottom: 5px solid $secondary-color;
}
 