@import "~normalize.css";
@import "variables";
@import "mixins";
@import "type";
@import "space";
@import "structure";
@import "patterns";
@import "inputs";

html, #root, .router-root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $text-color;
  text-decoration: none;
  @extend .p-font;
}

.nav {
  display: flex;
  width: 100%;
  align-items: stretch;

  li {
    flex-grow: 1;
  }

  a {
    @extend .f4;
    color: $text-color;
    &:hover, &.current {
      background-color: $primary-color !important;
      border-bottom: 5px solid $secondary-color;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
  
}
// move this elsewhere!!
.btn.hamburger {
  @media (min-width: 769px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .closed {
    display: none;
  }
}