@import "variables";
@import "type";
@import "space";
@import "mixins";

.main-page {
  & > .main-section {
    height: auto;
    background-color: $contrast-light-color;
    &>.container {
      min-height: 90vh;
      color: black;
      width: 90%;
      text-align: center;
      @include small-only {
        width: 50%;
      }
    }
    /* chart not taking on styles */
    svg {
      @include small-only {
        width: 200px;
        height: 100px;
      }
    }
  }
  & > .footer-section {
    background-color: $contrast-dark-color;
    & .footer-container {
      min-height: 10vh;
      
      @include medium-only {
        min-height: 15vh;
        flex-direction: column;
        align-items: center;
      }
      @include small-only {
        min-height: 20vh;
        flex-direction: column;
        align-items: center;
      }
    }
    & .footer-part {
      @extend .pv3;
    }
  }
}
