@import "variables";
@import "type";
@import "space";
@import "mixins";

.main-page {
  & > .main-section {
    height: auto;
    background-color: $contrast-light-color;
    &>.container {
      min-height: 90vh;
      color: black;
      width: 90%;
      text-align: center;
      @include small-only {
        width: 50%;
      }
    }
    & .lb-legend {
      font-size: 0.5em;
    }
  }
  & > .footer-section {
    background-color: $contrast-dark-color;
    & .footer-container {
      min-height: 10vh;
      @include small-only {
        min-width: 20vh;
        flex-direction: column;
      }
    }
    & .footer-part {
      @extend .pv3;
      height: 100%;
      width: 100% / 3;
    }
  }
}