@import "variables";

.main-page {
  & > .main-section {
    height: auto;
    background-color: $contrast-light-color;
    &>.container {
      height: 90vh;
    }
  }
  & > .footer-section {
    background-color: $contrast-dark-color;
    & .footer-container {
      height: 10vh;
    }
    & .footer-part {
      height: 100%;
      width: 25%;
    }
  }
}