@import "variables";
@import "mixins";
@import "type";
@import "space";
@import "structure";
@import "patterns";
@import "inputs";

.mining-page {
  @extend .p-font;
  color: $primary-color;
}
.form-row {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}