@import "variables";
@import "mixins";
@import "type";
@import "space";
@import "structure";
@import "patterns";
@import "inputs";

.wallet-page {
  color: $contrast-dark-2-color;
  & > .header-section {

  }
  & > .main-section {
    & .wallet-action {
      width: 25%;
    }
  }
  & > .transaction-section {

  }
  & > .footer-section {
    
  }

  .btn-question {
    width: 5%;
    margin-bottom: $spacing-large;
  }

  .faculty-form {
    width: 40%;
    margin: 0 auto;
    margin-top: $spacing-large;
  }
}

// .wallet-page {
//   display: flex;
//   flex-direction: column;

//   .wallet-header {
//     margin-top: $spacing-large * 5;
//   }

  .info-box {
    padding: $spacing-large * 2;
    border: 1px solid $text-color;
    text-align: center;
  }

//   .transactions-container {
//     flex-direction: column;
//     width: 80%;
//     margin: 0 auto;
//   }

//   @media (max-width: 768px) {
//     .wallet-info {
//       flex-direction: column;
//       width: 80%;
//       margin: 0 auto;
//     }
//   }
// }

// .popup-content {
//   color: black;
//   padding: $spacing-large*2 !important;
// }