@import "variables";
@import "mixins";
@import "type";
@import "space";
@import "structure";
@import "patterns";
@import "inputs";

.wallet-page {
  color: $contrast-dark-2-color;
  & > .header-section {

  }
  & > .main-section {
    & .wallet-action {
      width: 300px;
    }
    & .dropdown-primary {
      width: 300px;
    }
  }
  & > .transaction-section {

  }
  & > .footer-section {
    
  }

  .btn-question {
    width: 50px;
    margin-bottom: $spacing-large;
  }

  .faculty-form {
    min-width: 40%;
    margin: 0 auto;
    margin-top: $spacing-large;
  }
}

.info-box {
  @extend .mv2;
  padding: $spacing-large * 2;
  border: 1px solid $text-color;
  text-align: center;
  border: 1px solid $contrast-dark-color;
  &.sent {
    border-color: $contrast-dark-color;
  }
  &.received {
    border-color: $primary-light-color;
  }
}