@import "variables";

.heading {
  font-size: 4em;
  margin-bottom: 0.335em;
}

.subheading {
  font-size: $medium-text;
}

.main-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .heading-block {
    flex-grow: 1;
  }

  .btn-wrapper {
    flex-grow: 2;

    .btn.btn-mac {
      height: 60px;
    }
  }
}

